<div class="modal" id="confirm_modal">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Please Confirm</h3>
  </div>
  <div class="modal-body">
    <p>Are you really, really sure?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary">Yes, I'm sure</a>
    <a class="btn secondary">No, I'm not</a>
  </div>
</div>
