<div class="page-header">
  <h1>Documents <small>Add a document to the collection</small></h1>
</div>
<form method="POST" enctype="multipart/form-data">
  <div class="row">
    <div class="span4">
      <h3>Uploading like crazy</h3>
      Send in your scoop. We've got the room, you've got the data. I
      say win-win. What about you?
    </div>
    <div class="span12">
      <%= erb :documents_form %>
    </div>
  </div>
  <div class="row">
    <div class="span4 offset10">
      <input type="submit" value="Add" class="btn primary">
    </div>
  </div>
</form>
