<fieldset>
  <div class="clearfix">
    <label for="name">Name</label>
    <div class="input">
      <input class="xlarge" id="name" name="name"
             type="text" value="<%= h @document.name %>">
    </div>
  </div>
  <% if @owners %>
  <div class="clearfix">
    <label for="owner">Owner</label>
    <div class="input">
      <select class="xlarge" id="owner" name="owner">
        <% @owners.each do |pwn| %>
        <option<%= " selected" if @document.user && pwn == @document.user.username %>><%= pwn %></option>
        <% end %>
      </select>
    </div>
  </div>
  <% end %>
  <div class="clearfix">
    <label for="file">File</label>
    <div class="input">
      <input class="xlarge" id="file" name="file"
             type="file">
    </div>
  </div>
</fieldset>
