<% if session[:username] %>
<div class="username pull-right">
  Hello, <strong><%= h @me.username %></strong>!
  <a href="/logout" class="btn">Sign out</a>
</div>
<% else %>
<form action="/login" method="POST" class="pull-right">
  <input name="username" class="input-small" type="text" placeholder="Username">
  <input name="password" class="input-small" type="password" placeholder="Password">
  <button class="btn" type="submit">Sign in</button>
</form>
<% end %>
