<div class="page-header">
  <h1>Users <small>Add a user to the system</small></h1>
</div>
<form method="POST">
  <div class="row">
    <div class="span4">
      <h3>Adding a user is easy!</h3>
      Just fill out the following form and be done with it. Can't get
      it any easier for you. I'm sorry.
    </div>
    <div class="span12">
      <%= erb :users_form %>
    </div>
  </div>
  <div class="row">
    <div class="span4 offset10">
      <input type="submit" value="Add" class="btn primary">
    </div>
  </div>
</form>
